<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top container">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Cooper Creations, Inc</span>
  </div>
    <!-- icons -->
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3 icon"><a class="text-body-secondary" href="#"><img src="/images/instagram.svg" draggable="false"></a></li>
      <li class="ms-3 icon"><a class="text-body-secondary" href="#"><img src="/images/linkedin.svg" draggable="false"></a></li>
      <li class="ms-3 icon"><a class="text-body-secondary" href="#"><img src="/images/twitter.svg" draggable="false"></a></li>
      <li class="ms-3 icon"><a class="text-body-secondary" href="mailto:kayla.cooper678@gmail.com"><img src="/images/envelope-fill (1).svg" draggable="false"></a></li>
  </ul>
</footer>

</body>
</html>