<%- include('./partials/header.ejs')%>
<div class="container">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <button class="btn btn-primary">Click Me</button>
</div>
<%- include('./partials/footer.ejs') %>
