<%- include('./partials/header.ejs')%>
<br />
<section id="front-page-section">
  <br />
  <div
    class="mt-5 text-center d-flex justify-content-evenly flex-lg-row-reverse main-pg-section fle"
  >
    <div>
      <h1>Kayla Cooper</h1>
      <h2>Slogan:</h2>
    </div>
    <div class="mt-5">
      <img id="frontpg-img" />
    </div>
  </div>
</section>
<br />
<section id="about-me-section"></section>
<br />
<div
  class="mt-5 text-center d-flex justify-content-evenly main-pg-section"
  id=""
>
  <div>
    <h1>About Me</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet
      velit vel leo dignissim ornare. Quisque orci est, iaculis eleifend aliquet
      eu, malesuada tincidunt arcu. Praesent suscipit tempor urna in feugiat.
      Maecenas vitae risus condimentum, viverra eros et, egestas orci. Morbi id
      pellentesque magna, eget tristique sem. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla laoreet velit vel leo dignissim ornare.
      Quisque orci est, iaculis eleifend aliquet eu, malesuada tincidunt arcu.
      Praesent suscipit tempor urna in feugiat. Maecenas vitae risus
      condimentum, viverra eros et, egestas orci. Morbi id pellentesque magna,
      eget tristique sem.
    </p>
  </div>
</div>
<br />
<section id="resume-section"></section>
<br />
<div class="mt-5 text-center d-flex justify-content-evenly main-pg-section">
  <div>
    <h1>Resume</h1>
    <p>
      skills: Donec aliquam velit nisi, id placerat nunc hendrerit vitae. In
      euismod metus sed volutpat auctor. Proin aliquet dapibus sollicitudin.
      Fusce velit ante, pretium et efficitur quis, tincidunt dapibus sem.
    </p>
  </div>
</div>
<div
  class="mt-5 text-center d-flex justify-content-evenly main-pg-section"
  id="portfolio-section"
>
  <div>
    <h1>Portfolio</h1>
    <p>Some of my work:</p>
    <button class="btn btn-primary">Check out more</button>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
