<%- include('./partials/header.ejs')%>
<br />
<section id="front-page-section">
  <br />
  <div class="mt-5 text-center main-pg-section fle">
    <div class="row">
      <div class="col-6 mt-5">
        <h1>Kayla Cooper</h1>
        <h2>Slogan:</h2>
      </div>
      <div class="col-6 mt-5">
        <img
          id="frontpg-img"
          src="https://ik.imagekit.io/fibwovbqe/main_photo/main-2.svg"
        />
      </div>
    </div>
  </div>
</section>
<br />
<section id="about-me-section"></section>
<br />
<div
  class="mt-5 text-center d-flex justify-content-evenly main-pg-section"
  id=""
>
  <div>
    <h1>About Me</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla laoreet
      velit vel leo dignissim ornare. Quisque orci est, iaculis eleifend aliquet
      eu, malesuada tincidunt arcu. Praesent suscipit tempor urna in feugiat.
      Maecenas vitae risus condimentum, viverra eros et, egestas orci. Morbi id
      pellentesque magna, eget tristique sem. Lorem ipsum dolor sit amet,
      consectetur adipiscing elit. Nulla laoreet velit vel leo dignissim ornare.
      Quisque orci est, iaculis eleifend aliquet eu, malesuada tincidunt arcu.
      Praesent suscipit tempor urna in feugiat. Maecenas vitae risus
      condimentum, viverra eros et, egestas orci. Morbi id pellentesque magna,
      eget tristique sem.
    </p>
  </div>
</div>
<br />
<section id="resume-section"></section>
<br />
<div class="mt-5 text-center d-flex justify-content-evenly main-pg-section">
  <div>
    <h1>Resume</h1>
    <p>
      skills: Donec aliquam velit nisi, id placerat nunc hendrerit vitae. In
      euismod metus sed volutpat auctor. Proin aliquet dapibus sollicitudin.
      Fusce velit ante, pretium et efficitur quis, tincidunt dapibus sem.
    </p>
  </div>
</div>
<div
  class="mt-5 text-center d-flex justify-content-evenly main-pg-section"
  id="portfolio-section"
>
  <div class="container">
    <h1>Portfolio</h1>
    <p>Some of my work:</p>
    <div class="row mb-5">
      <div class="col-4">
        <a href="/designs#contact-section"
          ><img
            class="top-three"
            src="https://ik.imagekit.io/fibwovbqe/main_photo/main-col-1.jpg"
          />
        </a>
      </div>
      <div class="col-4">
        <a href="/designs#contact-section"
          ><img
            class="top-three"
            src="https://ik.imagekit.io/fibwovbqe/main_photo/main-col-2.jpg"
          />
        </a>
      </div>
      <div class="col-4">
        <a href="/designs#contact-section"
          ><img
            class="top-three"
            src="https://ik.imagekit.io/fibwovbqe/main_photo/main-col-3.jpg"
          />
        </a>
      </div>
    </div>
    <a href="/designs"
      ><button class="btn btn-primary">Check out more</button></a
    >
  </div>
</div>

<%- include('./partials/footer.ejs') %>
