body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  /* background-color: #b2ccdf !important; */
}

a {
  color: #00b7ff;
}

.main-pg-section {
  width: 100%;
  height: 700px;
  border: 1px solid black;
}

#frontpg-img {
  /* border: 1px solid sblack; */
  width: 100%;
  height: 600px;
}

.design-img {
  width: 350px;
  height: 350px;
  overflow: hidden;
}

.design-img:hover {
  box-shadow: 3px 3px 10px gray;
}

.top-three {
  width: 100%;
  height: 100%;
}
.top-three:hover {
  box-shadow: 3px 3px 10px gray;
}

#empty-container {
  height: 30px;
}

@media (max-width: 768px) {
  .design-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
