<%- include('../partials/header.ejs')%>

<h2>All my work</h2>

<div class="d-flex flex-wrap justify-content-center">
  <% for (let i = 0; i < work.length; i++){%>
  <div class="m-1">
    <!-- add table for grid effect -->
    <a href="/designs/<%=work[i].id%>"
      ><img src="<%=work[i].img%>" class="design-img"
    /></a>
  </div>

  <br />
  <%} %>
</div>

<%- include('../partials/footer.ejs')%>
