<%- include('../partials/header.ejs')%>
<div id="empty-container"></div>
<div class="d-flex flex-wrap justify-content-center text-center container">
  <a href="/designs">Back</a>
  <div class="container">
    <img class="" src="<%=work.img%>" />
  </div>
</div>

<%- include('../partials/footer.ejs')%>
